<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yavoy - Delivery rápido y seguro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/homeDeliveryMan/homeDeliveryMan.css">
</head>

<body>
    <header>
        <h1>Yavoy</h1>
        <p>El único límite entre tú y el éxito es… un semáforo en rojo. ¡Sigue avanzando!</p>
        <a href="/login" class="login-button">
            <i class="fas fa-user"></i>
        </a>
    </header>

    <section id="pedidos">
        <div class="botones-pedidos">
            <div class="opcion">
                <button id="btn-pedidos-hechos">Pedidos Hechos</button>
                <img src="https://cdn-icons-png.flaticon.com/512/9198/9198150.png" alt="Pedidos Hechos">
            </div>
            <div class="opcion">
                <button id="btn-pedidos-pendientes">Pedidos Pendientes</button>
                <img src="https://cdn-icons-png.flaticon.com/512/10994/10994650.png" alt="Pedidos Pendientes">
            </div>
            <div class="opcion">
                <button id="btn-pedidos-asignados">Pedidos Asignados</button>
                <img src="https://cdn-icons-png.freepik.com/512/2558/2558162.png" alt="Pedidos Asignados">
            </div>
        </div>
    </section>

    <!-- Pie de página -->
    <footer style="text-align: center; padding: 20px; background-color: #FFF3E0;">
        <p>Yavoy &copy; 2023 | Todos los derechos reservados</p>
        <p>Dirección: Calle Fuengirola #13, Ciudad: Talavera de la Reina | Teléfono: +1 234 567 890</p>
    </footer>

    <!-- Enlace al archivo JS -->
    <script src="/homeDeliveryMan/homeDeliveryMan.js"></script>
</body>

</html>
