* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF3E0;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgba(255, 224, 178, 0.9);
    padding: 15px;
    text-align: center;
}

header h1 {
    font-size: 2em;
    color: #F57C00;
}

header p {
    font-size: 1.2em;
    color: #000;
}

#lista-opciones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    min-height: 80vh;
}

#lista-opciones .opcion {
    background-color: #FFECB3;
    border: 2px solid #FF6F00;
    border-radius: 50px;
    padding: 25px; 
    text-align: center;
    width: 200px; 
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none; 
}

#lista-opciones .opcion img {
    width: 95px; 
    margin-bottom: 15px;
    border-radius: 10px;
}

#lista-opciones .opcion h3 {
    color: #F57C00;
    font-size: 1.2em;
    margin-bottom: 8px;
    text-decoration: none;
}

#lista-opciones .opcion:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#lista-opciones .opcion a {
    text-decoration: none;
    color: inherit;
}
