<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yavoy - Delivery rápido y seguro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/clientProfile/clientProfile.css">
</head>

<body>
    <header>
        <h1>Yavoy</h1>
        <p>Bienvenido a tu Perfil.</p>
    </header>

    <section id="lista-opciones">
        <div class="opcion">
            <a th:href="@{/clientAccount(email=${email})}">
                <img src="https://cdn-icons-png.flaticon.com/512/3033/3033143.png" alt="Cuenta">
                <h3>Cuenta</h3>
            </a>
        </div>
        <div class="opcion">
            <a href="URL_DE_LA_OPCIÓN_PEDIDOS?email=${email}">
                <img src="https://cdn-icons-png.flaticon.com/512/5177/5177812.png" alt="Pedidos">
                <h3>Pedidos</h3>
            </a>
        </div>
        <div class="opcion">
            <a th:href="@{/index}">
                <img src="https://cdn-icons-png.flaticon.com/512/6460/6460660.png" alt="Cerrar sesion">
                <h3>Cerrar sesión</h3>
            </a>
        </div>
    </section>

    <script src="/clientProfile/clientProfile.js"></script>
</body>

</html>
