<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="/client/styles.css">

</head>

<body>
    <header>
        <img src="https://i.postimg.cc/g27NdFtq/logo-removebg.png" alt="Logo de la empresa" class="logo">
        <nav>
            <div class="language-selector">
                <select id="language" name="language">
                    <option value="es">Español</option>
                    <option value="en">English</option>
                    <option value="fr">Français</option>
                    <!-- Agrega más opciones según lo necesites -->
                </select>
            </div>
        </nav>
    </header>

    <div class="letters-container">
        <h1>¡Regístrate y disfruta de los mejores platos!</h1>
        <div class="register-container">
            <h2>Completa el formulario y disfruta de las ventajas</h2>
            <form th:action="@{/registerClient}" th:object="${registerClient}" method="post">
                <input type="text" th:field="*{dni}" placeholder="DNI" required>
                <input type="text" th:field="*{name}" placeholder="Nombre" required>
                <input type="text" th:field="*{surnames}" placeholder="Apellidos" required>
                <input type="email" name="email" placeholder="Correo Electrónico" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <input type="submit" value="Registrarse">
            </form>
            <div class="login-link">
                ¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a>
            </div>
            <div class="registerAdmin-link">
                <a href="/verifyCif?type=admin">¿Eres Administrador de restaurante?</a>
            </div>
            <div class="registerDeliv">
                <a href="/verifyCif?type=deliv">¿Eres uno de nuestros nuevos repartidores?</a>
            </div>
        </div>
    </div>
</body>

</html>