<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Restaurante</title>
    <link rel="stylesheet" href="/cifRestaurant/cifRestaurantStyles.css">
</head>
<body>
    <div class="register-container">
        <h2>Registro de Repartidor</h2>
        <form th:action="@{/cifRestaurant}" th:object="${cifRestaurant}" method="post">
            <label for="cif">CIF:</label>
            <input type="text" id="cif" name="cif" th:field="*{cif}" required>
            <br>

            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" th:field="*{name}" required>
            <br>

            <button type="submit">Guardar Restaurante</button>
        </form>
        <div th:if="${successMessage}">
            <p th:text="${successMessage}" style="color: green;"></p>
        </div>
    </div>  
</body>
</html>
