<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/Login/loginStyles.css">
</head>
<body>
<header>
    <a href="/index" class="logo-button">
        <img src="https://i.postimg.cc/QdkWSRwp/Dise-o-sin-t-tulo-removebg-preview.png" alt="Logo de la empresa" class="logo">
    </a>
</header>
<main>
    <div class="letters-container">
        <h2>Login</h2>
        <div class="register-container">
        <form th:action="@{/login}" method="post">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <input type="submit" value="Iniciar Sesión">
        </form>
        <p th:if="${error}" th:text="${error}" style="color:red;"></p>

            <div class="login-link">
                ¿Aun no te has registrado? <a href="/registerClient">Registrate</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>
