<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Administrador</title>
    <link rel="stylesheet" href="/admin/adminStyles.css">

</head>

<body>
    <header>
        <img src="https://i.postimg.cc/QdkWSRwp/Dise-o-sin-t-tulo-removebg-preview.png" alt="Logo de la empresa"
            class="logo">
    </header>
    <main>
        <div class="letters-container">
            <h1>¡Conéctate y administra tu empresa!</h1>
            <div class="register-container">
                <h2>Completa el formulario para empezar a ser nuestro Administrador</h2>
                <form th:action="@{/registerAdmin}" th:object="${registerAdmin}" method="post">
                    <input type="text" th:field="*{dni}" placeholder="DNI (8 números + letra)" required maxlength="9"
                           pattern="^\d{8}[A-Za-z]$" title="El DNI debe tener 8 dígitos seguidos de una letra (por ejemplo, 12345678A)">
                    <input type="text" th:field="*{name}" placeholder="Nombre" required>
                    <input type="text" th:field="*{surnames_M}" placeholder="Apellido Materno" required>
                    <input type="text" th:field="*{surnames_F}" placeholder="Apellidos Paterno" required>
                    <input type="text" th:field="*{phone}" placeholder="Número de teléfono" required maxlength="9"
                           pattern="^\d{9}$" title="El teléfono debe tener 9 dígitos">
                    <input type="email" name="email" placeholder="Correo electrónico" required>
                    <input type="password" name="password" placeholder="Contraseña" required>
                    <div>
                        <input type="submit" id="registrarse" value="Registrarse">
                    </div>
                </form>
                <div class="login-link">
                    ¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a>
                </div>
            </div>
        </div>
    </main>

</body>

</html>