<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Repartidor</title>
  <link rel="stylesheet" href="/repartidor/delivStyles.css">

</head>
<body>

  <header>
    <img src="https://i.postimg.cc/QdkWSRwp/Dise-o-sin-t-tulo-removebg-preview.png" alt="Logo de la empresa"
      class="logo">
  </header>
  <main>
    <div class="letters-container">
      <h1>¡Conéctate y reparte cuando quieras!</h1>
      <div class="register-container">
        <div class="register-image">
          <h2>Completa el formulario para empezar a realizar entregas</h2>
        </div>
        <form th:action="@{/registerDeliv}" th:object="${registerDeliv}" method="post">
          <input type="text" id="DNI" th:field="*{dni}" placeholder="DNI (8 números + letra)" required maxlength="9"
                 pattern="^\d{8}[A-Za-z]$" title="El DNI debe tener 8 dígitos seguidos de una letra (por ejemplo, 12345678A)">

          <input type="text" id="Name" th:field="*{names}" placeholder="Nombre" required>

          <input type="text" id="Surnames_M" th:field="*{surnames_M}" placeholder="Apellidos Materno" required>
          <input type="text" id="Surnames_F" th:field="*{surnames_F}" placeholder="Apellidos Paterno" required>

          <input type="text" id="Phone" th:field="*{phone}" placeholder="Número de teléfono" required maxlength="9"
                 pattern="^\d{9}$" title="El teléfono debe tener 9 dígitos">

          <input type="email" id="Email" name="email" placeholder="Correo Electrónico" required>
          <input type="password" id="Password" name="password" placeholder="Contraseña" required>

          <div class="botones-tipo-auto" th:field="*{tipoAuto}">
            <!-- Botón de Motocicleta -->
            <button type="button" class="tipo-auto" data-tipo="MOTO">
              <img src="https://couriers.glovoapp.com/_nuxt/img/motorbike.d9a4844.svg" alt="MOTORBIKE" />
            </button>

            <!-- Botón de Coche -->
            <button type="button" class="tipo-auto" data-tipo="CAR">
              <img src="https://couriers.glovoapp.com/_nuxt/img/car.352e23f.svg" alt="CAR" />
            </button>

            <!-- Botón de Bicicleta -->
            <button type="button" class="tipo-auto" data-tipo="BICYCLE">
              <img src="https://couriers.glovoapp.com/_nuxt/img/bicycle.644742b.svg" alt="BICYCLE" />
            </button>
            <input type="hidden" id="tipoAuto" name="tipoAuto" th:field="*{tipoAuto}">

          </div>
          <div>
            <input type="submit" value="Registrarse" id="registrarse" disabled>
          </div>
        </form>
        <div class="login-link">
          ¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a>
        </div>
      </div>
    </div>
  </main>
  <script src="/repartidor/scriptD.js"></script>
</body>

</html>